.main {
    font-family: Arial, Helvetica, sans-serif;
    color: #292929;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 14px;
    cursor: pointer;
}

.close::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #5e5e5e;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
}

.close::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #5e5e5e;
    position: absolute;
    transform: rotate(-45deg);
    top: 13px;
}

.close:hover::before,
.close:hover::after {
    background-color: brown;
}

.pokemons {
    position: relative;
    display: flex;
    padding: 2rem 5rem 5rem;
    box-sizing: border-box;
    min-width: 320px;
    position: relative;
}

.pokemons-title {
    display: block;
    max-width: 800px;
    width: calc(100% - 30px);
    margin: 1rem auto 0;
    border: 1px solid #5f5f5f;
    text-align: center;
    font-size: 4rem;
    box-sizing: border-box;
}

.pokemons-list-wrapper {
    flex-grow: 1;
}

.pokemons-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.pokemons-list-item {
    padding: 0.8rem 0.8rem 2rem;
    border: 1px solid #5f5f5f;
    user-select: none;
}

.pokemons-list-item__img {
    width: 100%;
    height: auto;
    border: 1px solid #5f5f5f;
    cursor: pointer;
}

.pokemons-list-item__title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 1rem 0.1rem;
    margin: 0;
}

.pokemons-list,
.pokemons-list-item__types {
    list-style-type: none;
}

.pokemons-list-item__types {
    display: flex;
    justify-content: space-between;
}

.pokemons-list-item__types-li {
    min-width: 48%;
    padding: 0.6rem 2px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.pokemons-list-item__types-li:hover {
    cursor: pointer;
    filter: contrast(150%);
}

.load-more {
    width: 100%;
    margin-top: 3rem;
    padding: 1.4rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    background-color: #008cff;
    box-shadow: 0px 0px 3px 2px #00000087;
}

.load-more:hover {
    background-color: #0065b8;
}


.pokemons .pokemon-information {
    width: 285px;
    position: relative;
    box-sizing: border-box;
    padding-left: 15px;
}

.pokemon-information-wrapper {
    position: fixed;
    user-select: none;
    border: 1px solid #5f5f5f;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
    width: 270px;
}

.pokemon-information-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.pokemon-information-table caption {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0.5rem 0;
    line-height: 1;
}

.pokemon-information-table td {
    border: 1px solid #000;
    padding: 0.1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.namename-characteristic {
    width: 70%;
}

.filter {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-bottom: -2rem;
    z-index: 5;
}

.filter .pokemons-list-item__types-li:hover {
    filter: none;
}

.filter li {
    width: max-content;
    min-width: 160px;
    margin-bottom: 10px;
    user-select: none;
}

.filter li:hover {
    cursor: unset;
}

.btn-reset-filter {
    background: #008cff;
    color: white;
    border: solid 1px #008cff;
    box-shadow: 0px 0px 3px 2px #00000087;
}

.filter .btn-reset-filter:hover {
    background-color: #0065b8;
    border: solid 1px #0065b8;
    cursor: pointer;
}

.filter li:first-child {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    font-size: 1px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }

    .pokemons .pokemon-information {
        width: 275px;
    }

    .pokemon-information-wrapper {
        width: 260px;
    }

    .pokemon-information-table td {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 991px) {
    html {
        font-size: 16px;
    }

    .pokemons {
        padding: 2rem 1rem;
    }

    .pokemons-list-item__types-li {
        font-size: 1.2rem;
    }

    .pokemons-list-wrapper {
        margin-right: unset;
    }

    .pokemons-title {
        margin-top: 2rem;
    }

    .pokemons .pokemon-information {
        width: 100%;
        height: 100vh;
        padding-left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transform: translate(0%, 0%);
        user-select: none;
        margin-right: 0;
        background-color: #ffffffdb;
        z-index: 10;
    }

    .pokemon-information-wrapper {
        max-width: 260px;
        max-height: 100vh;
        position: relative;
        margin: 0 auto;
        margin-top: 0%;
        overflow-y: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .pokemons-list-item {
        padding: 0.8rem;
    }

    .pokemons-list-item__title {
        padding: 0.3rem 0.1rem 0.5rem;
    }

    .pokemon-information-table td {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .pokemons-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 576px) {
    html {
        font-size: 12px;
    }

    .pokemons {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pokemon-information-table td {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 360px) {
    html {
        font-size: 20px;
    }

    .pokemons-title {
        font-size: 3rem;
    }

    .pokemons-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .close {
        right: 17px;
    }

    .pokemon-information-table caption {
        font-size: 1rem;
    }

    .pokemon-information-table td {
        font-size: 0.9rem;
    }
}